/*---------------------------- Parent -*/
/*-Initialize-Flex-*/
.flex{display:flex;}

/*-Flex-Wrap-*/
.flex-wrap{flex-wrap:wrap;}
.flex-nowrap{flex-wrap:nowrap;}

/*-Flex-Direction-*/
.flex-column{flex-direction:column;}
.flex-column-rev{flex-direction:column-reverse;}
.flex-row{flex-direction:row;}
.flex-row-rev{flex-direction:row-reverse;}

/*-Justify-Content-*/
.just-start{justify-content:flex-start;}
.just-center{justify-content:center;}
.just-end{justify-content:flex-end;}
.just-between{justify-content:space-between;}
.just-around{justify-content:space-around;}
.just-evenly{justify-content:space-evenly;}

/*-Align-Items-*/
.align-start{align-items:flex-start;}
.align-center{align-items:center;}
.align-end{align-items:flex-end;}

/*---------------------------- Child -*/
/*-Flex-*/
.flex1{flex:1;}
.flex2{flex:2;}
.flex3{flex:3;}
.flex4{flex:4;}
.flex5{flex:5;}

/*-Order-*/
.order1{order:1;}
.order2{order:2;}
.order3{order:3;}
.order4{order:4;}
.order5{order:5;}